.onelab h1 {
  font-size: 46px;
  font-weight: bold;
  line-height: 40px;
  padding-top: 50px;
}

.onelab h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
}
.onelab h3 {
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
}

.ant-col ant-col-12 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.onelab-intro {
  /* padding-top: 50px; */
  height: 600px;
  margin: auto;
  /* background-image: url("https://media.istockphoto.com/vectors/abstract-technology-background-vector-id842945754"); */
  /* display: flex;
    justify-content: center; */
  /* background: #151b24 no-repeat center; */
}

.intro-title {
  padding-top: 50px;
  width: 400px;
}
.ant-btn-onelab {
  width: 150px !important;
  height: 45px !important;
  /* background: #ededf0 !important; */
  color: #1b262c !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  border: 2px solid #1b262c !important;
  position: relative;
  transition: 0.3s;
}

.intro-description {
  font-size: 20px;
}

.intro-img {
  padding-left: 30px;
  /* padding-top: 80px; */
  margin-top: 80px;
}

.how-it-works {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.how-it-works-container {
  height: 450px;
  width: 1201px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 8px;
  padding: 20px;
}

.work-station {
  height: 500px;
}
.network {
  height: 500px;
}
.content-server {
  height: 500px;
}

.ideas {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ideas-container {
  height: 450px;
  width: 1201px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* width: 700px; */
}

.contact-onelab {
  height: 500px;
  /* background-color: #ededf0; */
  display: flex;
  justify-content: center;
}

.contact-onelab-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
