.onelab h1 {
  font-size: 46px;
  font-weight: bold;
  line-height: 40px;
  color: #38a7c8;
}

.onelab h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  color: #38a7c8;
}
.onelab h3 {
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  color: #38a7c8;
}

.ant-col ant-col-12 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.onelab-intro {
  padding-top: 40px;
  height: 550px;
  margin: auto;
  /* background-image: url("https://media.istockphoto.com/vectors/abstract-technology-background-vector-id842945754"); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background: #151b24 no-repeat center; */
}

.intro-title {
  width: 400px;
}

.onelab-intro-description {
  font-size: 26px;
  text-align: center;
}

.intro-img {
  padding-left: 30px;
  margin-top: 10px;
}

.how-it-works {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.how-it-works-container {
  height: 450px;
  width: 1201px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 8px;
  padding: 20px;
}

.work-station {
  height: 500px;
}
.network {
  height: 500px;
}
.content-server {
  height: 500px;
}

.ideas {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ideas-container {
  height: 450px;
  width: 1201px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* width: 700px; */
}

.contact-onelab {
  height: 500px;
  /* background-color: #ededf0; */
  display: flex;
  justify-content: center;
}

.contact-onelab-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-btn-contact {
  border-radius: 8px !important;
  width: 142px !important;
  height: 45px !important;
  background: #fce34b !important;
  background: linear-gradient(180deg, #fce34b, #eac101) !important;
  color: #1b262c !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  border: none !important;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.1));
  position: relative;
  transition: 0.3s;
}

.uses {
  height: 700px;
  background-color: #f1f2f6;
  /* padding-top: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.uses-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  text-align: center;
}
.uses h2 {
  text-align: center;
}

.uses-bottom {
  padding-top: 70px;
}
.uses-bottom h3 {
  padding-top: 20px;
}
