.fifi-intro {
  height: 600px;
}

.fifi-intro > img {
  height: 300px;
  width: auto;
}

.fifi-title {
  font-size: 36px;
  font-weight: bold;
  color: #38a7c8 !important;
  margin: 0;
  padding-top: 30px;
}

p {
  font-size: 18px;
}

.fifi-features {
  background-color: #f8f9fa;
  text-align: center;
}

.feature-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-feature-bottom {
  padding-top: 20px;
  color: rgba(0, 0, 0, 0.45);
}

.eature-card-description {
  font-weight: 1;
  color: rgba(0, 0, 0, 0.45);
}

.fifi-application {
  height: 800px;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  text-align: center;
}

.img {
  height: 500px;
  width: auto;
  padding-top: 20px;
}
.ant-btn-primary {
  border-radius: 8px !important;
  width: 162px !important;
  height: 45px !important;

  background: linear-gradient(180deg, #fce34b, #eac101) !important;
  color: #1b262c !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  border: none !important;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.1));
  position: relative;
  transition: 0.3s;
}

.map {
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
}

.map-top {
  width: 50%;
  align-items: center;
  text-align: center;
}

.map-container {
  height: 500px;
  width: 80%;
  background-color: white;
  padding: 2px;
  /* border-radius: 20px; */
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  /* display: flex; */
  /* align-self: center; */
}

.map .leaflet-container {
  height: 100%;
}
