.container {
  padding-top: 30px;
}

.project-intro {
  height: 400px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.img-responsive {
  width: 100%;
}

.welcome-doc {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 250px;
}

.document-title {
  font-size: 30px;
  /* font-weight: 800; */
  color: #001529;
}

.document-content {
  font-size: 18px;
}

.projects {
  background-color: #f8f9fa !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding-top: 50px;
  padding-bottom: 60px;
}

/* .ant-row {
  padding-top: 55px;
  padding-bottom: 70px;
} */

.projects-img {
  height: 56px;
  width: auto;
}

/* recentnews */

.recentnews {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recentnews-card {
  margin-top: 40px;
  /* border-radius: 8px;
    border: 4px solid #ffffff;
    box-shadow: rgba(158, 158, 158, 0.2) 0px 8px 24px; */
}

.recentnews-header {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.recentnews-header h1 {
  font-size: 33px;
}
.recentnews-header p {
  font-size: 18px;
}

.footer {
  height: 200px;
  background: #001529 !important;
  padding-top: 50px;
}

.footer-container {
  margin-top: 30px;
  width: 80%;
  margin: auto;
}

.footer p {
  color: white !important;
  text-align: center;
}
.footer h2 {
  color: white !important;
  text-align: center;
}

.ant-card-cover img {
  border-radius: 2px 2px 0 0;

  height: 130px;
  object-fit: cover;
}

.partners {
  height: 500px;
  /* background-color: #f1f2f6; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partners-header {
  margin-bottom: 70px;
}
