.sala-intro {
  padding-top: 50px;
  height: 600px;
  margin: auto;
}

.sala-intro h1 {
  font-size: 36px;
  font-weight: bold;
}

/* .ant-row {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.sala-intro p {
  font-size: 20px;
}

.ant-btn-sala {
  width: 250px !important;
  height: 45px !important;
  /* background: #ededf0 !important; */
  color: #1b262c !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  border: 2px solid #1b262c !important;
  position: relative;
  transition: 0.3s;
}

.courses {
  height: 500px;
  background-color: #f1f2f6;
  display: flex;
  justify-content: center;
}

.schools {
  height: 500px;
  display: flex;
  justify-content: center;
}

.sala h1 {
  font-size: 36px;
}

.upload {
  height: 500px;
  background-color: #f1f2f6;
  display: flex;
  justify-content: center;
}
