.sala h1 {
  font-size: 46px;
  font-weight: bold;
  color: #38a7c8;
  margin-bottom: 5px !important;
}
.sala h2 {
  font-size: 36px;
  color: #38a7c8;
}

.sala-intro {
  padding-top: 100px;
  height: 600px;
  margin: auto;
}

.sala-intro p {
  font-size: 20px;
}

.ant-btn-sala {
  border-radius: 8px !important;
  width: 250px !important;
  height: 45px !important;
  background: #fce34b !important;
  background: linear-gradient(180deg, #fce34b, #eac101) !important;
  color: #1b262c !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  border: none !important;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.1));
  position: relative;
  transition: 0.3s;
  margin-top: 30px;
}

.courses {
  height: 500px;
  background-color: #f1f2f6;
  display: flex;
  justify-content: center;
}

.schools {
  height: 500px;
  display: flex;
  justify-content: center;
}

.courses-category {
  padding-top: 30px;
  text-align: center;
  height: 450px;
  background-color: #f1f2f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.courses-category-card {
  text-align: center;
  height: 200px;
  width: 180px;
  border-radius: 10px !important;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.courses-category-card-top {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: auto;
  background-color: #f1f2f6;
}

.courses-category-card-bottom {
  color: rgb(95, 99, 104);
}
