.sala h1 {
  font-size: 46px;
  font-weight: bold;
  color: #38a7c8;
  margin-bottom: 5px !important;
}
.sala h2 {
  font-size: 36px;
  color: #38a7c8;
}

.sala-intro {
  padding-top: 50px;
  height: 600px;
  margin: auto;
  /* text-align: center; */
}

.sala-intro p {
  font-size: 20px;
}

.ant-btn-sala {
  border-radius: 8px !important;
  width: 250px !important;
  height: 45px !important;
  background: #fce34b !important;
  background: linear-gradient(180deg, #fce34b, #eac101) !important;
  color: #1b262c !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  border: none !important;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.1));
  position: relative;
  transition: 0.3s;
  /* margin-top: 30px; */
}

.courses {
  height: 500px;
  background-color: #f1f2f6;
  display: flex;
  justify-content: center;
}

.schools {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.courses-category {
  padding-top: 30px;
  text-align: center;
  height: 600px;
  background-color: #f1f2f6;
  display: flex;
  justify-self: center;
  flex-direction: column;
  align-items: center;
}

.courses-row {
  width: 1000px !important;
  height: 400px;
  /* background-color: red; */
}

.courses-batman {
  border-radius: 10px;
  padding: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  height: 150px;
  /* width: 100px; */
  background-image: url("https://www.dccomics.com/sites/default/files/Char_Gallery_Batman_DTC1018_6053f2162bdf03.97426416.jpg");
}

.batman {
  width: 1000px !important;
}

.courses-batman p {
  font-size: 26px;
  color: white;
}

.users {
  padding-top: 50px;
  height: 500px;
  text-align: center;
}

.user-title {
  margin-bottom: 0px !important;
  font-weight: bold;
  color: rgb(95, 99, 104);
}

.number {
  font-size: 46px;
}
