.robotic h1 {
  font-size: 46px;
  font-weight: bold;
  line-height: 50px;
  color: #38a7c8;
}

.robotic h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  color: #38a7c8;
}
.robotic h3 {
  font-size: 28px;
  font-weight: bold;
  line-height: 40px;
  color: #38a7c8;
}

.robotic h4 {
  font-size: 26px;
}

.robotic-intro {
  height: 600px;
  margin: auto;
  background-image: url("https://wallpapercave.com/wp/wp1816280.jpg");
  /* text-align: center; */
  padding-top: 100px;
  padding-left: 300px;
}

.how-it-works {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.how-it-works-container {
  height: 450px;
  width: 1201px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

.program {
  height: 420px;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.program-container {
  height: 400px;
  width: 1201px;
  border-radius: 5px;
  background-image: url("https://www.bostondynamics.com//sites/default/files/2021-02/cta-spot.jpg");
  padding-top: 100px;
  padding-left: 180px;
}
.program-container-2 {
  height: 400px;
  width: 1201px;
  border-radius: 5px;
  background-image: url("https://www.bostondynamics.com/sites/default/files/2021-03/stretch-eap_2.png");
  padding-top: 100px;
  padding-left: 180px;
}

.ant-btn-program-button {
  border-radius: 8px !important;
  width: 142px !important;
  height: 45px !important;
  background: #fce34b !important;
  background: linear-gradient(180deg, #fce34b, #eac101) !important;
  color: #1b262c !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  border: none !important;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.1));
  position: relative;
  transition: 0.3s;
}

.robot-type {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 100px;
}

.robot-type-container {
  height: 500px;
  width: 1201px;
  text-align: center;
  padding: 0px !important;
  display: flex;
  flex-direction: row;
}

.ideas {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.ideas-container {
  height: 450px;
  width: 1201px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* width: 700px; */
}
