.koompi-os h1 {
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
}
.intro {
  /* padding-top: 50px; */
  height: 600px;
  margin: auto;
  /* background-image: url("https://media.istockphoto.com/vectors/abstract-technology-background-vector-id842945754"); */
  /* display: flex;
  justify-content: center; */
  background: #001529;
}

.intro-title {
  margin-top: 50px;
  width: 300px;
  color: white;
}
.ant-btn-os-version {
  width: 180px !important;
  height: 45px !important;
  /* background: #ededf0 !important; */
  color: white !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  border: 2px solid #38a7c8 !important;
  position: relative;
  transition: 0.3s;
  background-color: #001529 !important;
}

.intro-img {
  padding-left: 30px;
  /* padding-top: 80px; */
  margin-top: 80px;
}

.open-source {
  height: 500px;
  background-color: #f1f2f6;
  display: flex;
  justify-content: center;
}

.decentralize {
  height: 500px;
  display: flex;
  justify-content: center;
}

.documentation {
  height: 500px;
  display: flex;
  justify-content: center;
  background-color: #f1f2f6;
}

.applications {
  height: 500px;
  width: 1000px !important;
  margin: auto;
  padding-top: 50px;
}

.applications-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.application-bottom {
  display: flex;
  margin-top: 30px;
}

.ant-col ant-col-12 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ideas {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ideas-container {
  height: 450px;
  width: 1201px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* width: 700px; */
}
