@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

:root {
  --primary-color: #000;
  --second-color: #38a7c8;
  --third-color: #fce34b;
  --fourth-color: #fff;
}
html {
  scroll-behavior: smooth;
}
body {
  /* display: block; */
  overflow-x: hidden !important;
  font-family: "Inter", sans-serif;
}
p {
  font-size: 18px;
}
.container {
  width: 65% !important;
  margin: 0px auto;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.ant-layout-header {
  height: 74px !important;
  line-height: 74px !important;
  padding: 0px !important;
  background-color: #1b262c !important;
}
.ant-menu-dark.ant-menu-horizontal > .ant-menu-item,
.ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu {
  background-color: #1b262c !important;
}

.ant-menu-item {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.ant-menu-item-active {
  background-color: #001529 !important;
}

.ant-menu-item-selected {
  background-color: #001529 !important;
}

.projects-card-container-top {
  display: flex;
  margin: 16px 0 0 20px;
}
.projects-card-container-bottom {
  font-size: 16px;
}

.project-cards {
  padding: 15px;
  border-radius: 8px;
  height: 100%;
}
.project-cards-mobile {
  display: none;
}

.card-subtitle {
  margin: 0px;
  font-size: 14px;
  color: #1b262c8a;
  /* color: #fce24a; */
}

.card-title {
  margin: 0px;
  font-weight: bold;
  font-size: 24px;
  padding: 0px;
  margin-top: 0px;
  color: var(--primary-color);
}

.card-description {
  font-size: 18px;
  color: #1b262ce0;
  margin-top: 20px;
}
.project-logo {
  position: relative;
  top: 3px;
}

.project-learn-more {
  font-size: 14px !important;
  height: 40px !important;
  line-height: 0px !important;
  font-weight: bold !important;
  padding: 0px 35px !important;
  margin-top: 30px !important;
  border-radius: 8px !important;
  background: #fff !important;
  border: 2.5px solid #1b262c !important;
  color: #1b262c !important;
}

.project-learn-more:hover {
  background: #1b262c !important;
  color: #fff !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
}

.projects-card-container-bottom a {
  color: rgb(95, 99, 104);
  padding-top: 50px;
}

.more {
  color: "#007bff";
  margin-top: 80px !important;
}

/* Recent News */

.ant-col-15 {
  margin-top: 10px !important;
}

.recentnews-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.recentnews-title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 0px;
}
.recentnews-date {
  color: #38a7c8;
}

.recentnews-description {
  font-size: 18px;
}

.tag {
  height: 25px;
  width: 60px;
  background-color: #38a7c8;
  margin: 0px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  color: white;
  font-weight: bold;
  border-radius: 2px;
}

/*________________ Footer_____________ */

.footer-home-background a {
  color: rgb(189, 189, 189) !important;
}
.footer-home-background {
  color: #fff !important;
  background-color: #161d22 !important;
}
.ant-layout-footer .footer-home-background {
  margin-top: 0px !important;
}
.ant-layout-footer {
  padding: 0px !important;
  padding-top: 40px !important;
}
.footer-desc {
  margin-top: 40px;
  font-size: 16px;
  margin-bottom: 0px;
  background-color: #0e1013;
  padding: 15px 0px;
  text-align: center;
}
.logo-footer {
  width: 200px;
  position: relative;
  left: -25px;
  margin-bottom: 40px;
}
.koompi-logo-footer {
  width: 35px;
  margin-right: 10px;
}
.footer-head-info {
  color: #38a7c8 !important;
  font-size: 24px;
  font-weight: bold;
}

.sub-header-footer {
  font-size: 18px;
  font-weight: normal;
  padding: 6px 0px !important;
}

.social-media svg {
  background-color: #c1c1c1;
  font-size: 32px;
  padding: 5px;
  margin-right: 10px;
  border-radius: 6px;
  color: #1b262c !important;
  margin-bottom: 15px;
  transition: 0.3s;
}

.social-media svg:hover {
  background-color: #ffffff;
  color: #1b262c !important;
}

.footer-social-media svg {
  background-color: #fff;
  font-size: 40px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 6px;
  color: var(--primary-color);
  margin-bottom: 15px;
  transition: 0.3s;
  color: #1b262c;
}

.home h1 {
  font-size: 46px;
  font-weight: bold;
  line-height: 1;
  color: #38a7c8;
}

.img-responsive {
  width: 100%;
  min-width: 100%;
}

.welcome-doc {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 250px;
}

.document-title {
  font-size: 30px;
  /* font-weight: 800; */
  color: #001529;
}

.document-content {
  font-size: 18px;
}

.projects {
  background-color: #f7f7f7 !important;
  padding: 80px 0px;
}
.project-head-title {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 10px;
}
.project-desc {
  width: 60%;
  font-size: 20px;
  color: #5f6368;
}

/* .ant-row {
    padding-top: 55px;
    padding-bottom: 70px;
  } */

.projects-img {
  height: 56px;
  width: auto;
}

.charity {
  height: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.charity-container {
  height: 300px;
  width: 1160px;
  background-color: #f4f4f4;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center !important; */
}

.charity-left {
  text-align: center;
  padding-top: 30px;
  width: 300px;
  align-self: center;
}

/* recentnews */

.recentnews {
  padding: 100px 0px;
}
.recentnews-header h1 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 10px;
}
.recentnews-header p {
  width: 60%;
  margin-bottom: 60px;
}
.recentnews-date {
  color: #5f6368;
  margin-bottom: 10px !important;
  font-size: 14px;
}
.news-event-title {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  color: var(--primary-color);
}
.blog-desc {
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  color: #1b262c88;
}
.news-events-section {
  border-radius: 0px 0px 6px 6px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 20px;
}
.news-events-section:hover {
  margin-top: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.news-events-section img {
  border-radius: 6px 6px 0px 0px;
}
.news-events-background {
  padding: 15px;
}
.recentnews-title {
  margin-bottom: 0px !important;
}

.ant-card-cover img {
  height: 150px !important;
}

.ant-card-body {
  padding: 18px !important;
}

/* .recentnews {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f8f9fa;
  } */

/* .recentnews-header h1 {
    font-size: 33px;
  }
  .recentnews-header p {
    font-size: 18px;
  } */
.home-banner {
  position: relative;
  height: 90vh;
  background-image: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.363) 0%,
      rgba(0, 0, 0, 0.616) 0%,
      rgba(0, 0, 0, 0.363) 100%
    ),
    url("./lib/img/background2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-contents {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  text-align: center;
}
.banner-contents p {
  color: var(--fourth-color);
}
.banner-title h1 {
  font-weight: 900;
  font-size: 45px;
  /* margin-bottom: 40px !important; */
  color: var(--fourth-color);
  line-height: 55px;
}
.banner-sub-title {
  font-weight: 900;
  font-size: 30px;
  position: relative;
  color: var(--primary-color);
}
.img-project {
  border-radius: 8px;
}
.project-section {
  margin: 80px 0px;
}
.banner-desc {
  font-size: 28px !important;
  margin-bottom: 40px;
}
.banner-desc2 {
  font-size: 22px !important;
  margin-bottom: 40px;
  width: 80%;
}
.ant-card-cover img {
  border-radius: 2px 2px 0 0;

  height: 130px;
  object-fit: cover;
}

.partners {
  height: 500px;
  /* background-color: #f1f2f6; */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.partners-header {
  font-size: 32px;
  margin-bottom: 0px !important;
}

.partners-sub-header {
  margin-bottom: 40px;
  /* font-size: 14px; */
  color: #5f6368;
}

.contact {
  background-color: #ededf0;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.contact-us-img {
  width: 550px;
}

.ant-btn-secondary {
  border-radius: 8px !important;
  width: 142px !important;
  height: 45px !important;
  background: #fce34b !important;
  background: linear-gradient(180deg, #fce34b, #eac101) !important;
  color: #1b262c !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  border: none !important;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.1));
  position: relative;
  transition: 0.3s;
  margin-top: 30px;
}
.ant-btn-intro {
  width: 162px !important;
  height: 45px !important;
  /* background: #ededf0 !important; */
  color: #1b262c !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  border: 2px solid #1b262c !important;
  position: relative;
  transition: 0.3s;
}

.koompi-os h1 {
  font-size: 56px;
  font-weight: bold;
  line-height: 40px;
  padding-top: 20px;
}
.koompi-os h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  color: #38a7c8;
}
.koompi-os h3 {
  font-size: 26px;
  font-weight: bold;
  line-height: 40px;
  color: #38a7c8;
}
.koompi-os {
  position: relative;
}

.koompi-os-intro {
  position: relative;
  min-height: 80vh;
  /* background-image: url("https://media.istockphoto.com/vectors/abstract-technology-background-vector-id842945754"); */
  /* display: flex;
    justify-content: center; */
  background: #1b262c;
}
.os-banner-section {
  position: relative;
}
.koompi-os-details {
  margin-top: 30%;
}
.os-banner-section p {
  color: #fff;
  font-size: 18px;
}

.intro-title {
  margin-top: 50px;
  width: 300px;
  color: #38a7c8;
}
.ant-btn-os-version {
  border-radius: 8px !important;
  width: 142px !important;
  height: 45px !important;
  /* background: #fce34b !important; */
  background: linear-gradient(180deg, #fce34b, #eac101) !important;
  color: #1b262c !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  border: none !important;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.1));
  position: relative;
  transition: 0.3s;
  margin-top: 30px;
}
.intro-description {
  font-size: 18px;
}
.os-title {
  font-size: 26px;
}
.os-section-height {
  position: relative;
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.os-section-height-detail {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}

.security {
  height: 500px;
  display: flex;
  justify-content: center;
  background-color: #f1f2f6;
}

.desktop-environment {
  height: 500px;
  display: flex;
  justify-content: center;
}
.documentation {
  height: 500px;
  display: flex;
  justify-content: center;
  background-color: #f1f2f6;
}

.community {
  height: 500px;
  width: 1000px !important;
  margin: auto;
  padding-top: 50px;
  /* background-color: #f1f2f6; */
}

.community-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.community-bottom {
  display: flex;
  margin-top: 30px;
}
.image-koompi {
  width: 70%;
}
.goal {
  padding: 100px 0;
}

.sala h1 {
  font-size: 56px;
  font-weight: bold;
  color: #38a7c8;
  margin-bottom: 5px !important;
  line-height: 1.2;
}
.sala h2 {
  font-size: 36px;
  color: #38a7c8;
  font-weight: bold;
  line-height: 1.2;
}

.sala-intro {
  padding-top: 80px;
  height: 600px;
  margin: auto;
  background-color: #1b262c;
  /* text-align: center; */
}

.sala-intro p {
  /* font-size: 26px; */
  color: white;
}

.ant-btn-sala {
  border-radius: 8px !important;
  width: 200px !important;
  height: 45px !important;
  background: #fce34b !important;
  background: linear-gradient(180deg, #fce34b, #eac101) !important;
  color: #1b262c !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  border: none !important;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.1));
  position: relative;
  transition: 0.3s;
  /* margin-top: 30px; */
}
.ant-btn-sala-acc {
  border-radius: 8px !important;
  width: 200px !important;
  height: 45px !important;
  background: #001529 !important;
  /* background: linear-gradient(180deg, #fce34b, #eac101) !important; */
  color: #fce34b !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  border: 2px solid #fce34b !important;
  border-width: 2px;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.1));
  position: relative;
  transition: 0.3s;
  /* margin-top: 30px; */
}

.sala-purpose {
  height: 700px;
  padding-top: 50px;
  /* background-color: #2f73b8; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
}
.sala-purpose-container {
  padding: 120px 0px;
}
.why-sala {
  height: 600px;
  background-color: #2f73b8;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 50px;
}

.why-sala-container {
  height: 400px;
  width: 1100px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sala-purpose-subtitle {
  font-size: 18px;
  color: rgb(95, 99, 104);
}

.sala-gray-back {
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f2f6;
}

.sala-white-back {
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 46px;
}
.back-to-top {
  font-size: 50px;
  background: #38a7c8;
  padding: 10px;
  border-radius: 12px;
  border: 2px solid transparent;
  transition: 0.4s;
  color: var(--fourth-color);
}
.back-to-top:hover {
  box-shadow: 12px 12px 24px rgba(0, 0, 0, 0.1);
}
.project-icons {
  padding: 5px 25px;
}
.logo-icons {
  height: 30px;
  margin: 0 !important;
  padding: 0 !important;
}
.project-detail-container h3 {
  font-weight: bold;
}
.project-detail-container p {
  font-size: 12px;
  line-height: 1.2;
}
.koompi-logo {
  height: 50px;
}
.btn-download {
  margin-top: 25px;
}
/* .sala-koompi-banner-pic {
  width: 90vh;
  position: relative;
} */
.btn-create-account-sala {
  border-radius: 8px !important;
  border: 3px solid #f2d124 !important;
  height: 45px !important;
  color: #f2d124 !important;
  font-weight: bold !important;
  background-color: #001529 !important;
}
.sala-koompi-details {
  margin-top: 35%;
}
.btn-container {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}
.why-join-sala {
  width: 17%;
  padding: 5px 10px;
  text-align: center;
  border-radius: 8px;
  background-color: #f2d124;
  font-weight: bold;
  font-size: 16px;
}
.why-join-salakoompi {
  width: 100%;
  height: 100%;
}
.sala-koompi-user-details {
  margin-top: 20%;
}
.fifi h1 {
  font-size: 46px;
  font-weight: bold;
  line-height: 56px;
  color: #38a7c8;
}

.fifi h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  color: #38a7c8;
}
.fifi h3 {
  font-size: 26px;
  font-weight: bold;
  line-height: 40px;
}
.fifi p {
  font-size: 18px;
}
.fifi-intro {
  height: 600px;
  padding-top: 30px;
}

.fifi-intro > img {
  height: 300px;
  width: auto;
}

p {
  font-size: 18px;
}

.fifi-features {
  /* background-color: #f8f9fa; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.fiti-feature-container {
  height: 400px;
  width: 1200px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature-1 {
  height: 500px;
  /* background-color: #f1f2f6; */
  display: flex;
  justify-content: center;
}
.feature-2 {
  height: 500px;
  background-color: #f1f2f6;
  display: flex;
  justify-content: center;
}

.fifi-application {
  height: 650px;
  background-color: #f1f2f6;
}

.fifi-img {
  height: 400px;
  width: auto;
  padding-top: 20px;
}
.ant-btn-primary {
  border-radius: 8px !important;
  width: 162px !important;
  height: 45px !important;
  /* background: linear-gradient(180deg, #fce34b, #eac101) !important; */
  /* color: #1b262c !important; */
  font-weight: 600 !important;
  font-size: 15px !important;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.1));
  position: relative;
  transition: 0.3s;
}
.ant-btn-primary:hover {
  border: 2px solid #000 !important;
  background: #fff !important;
}
.btn-explore {
  background: linear-gradient(180deg, #fce34b, #eac101) !important;
  color: #1b262c !important;
  border-color: #eac101 !important;
}

.map-top {
  width: 50%;
  align-items: center;
  text-align: center;
}

.map .leaflet-container {
  height: 100%;
}
.fifi-banner {
  position: relative;
  padding: 50px 0px;
  background-image: linear-gradient(
      90deg,
      rgba(2, 0, 36, 0.363) 0%,
      rgba(0, 0, 0, 0.616) 0%,
      rgba(0, 0, 0, 0.363) 100%
    ),
    url("./lib/img/fifi-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.koompi-fifi-img {
  width: 40%;
  position: relative;
}
.koompi-fifi-content {
  font-size: 18px;
  color: var(--fourth-color);
}
.koompi-fifi-pic {
  width: 80%;
}
.fifi-container-details {
  margin-top: 15%;
}
.map {
  height: 400px;
}
.background-locations {
  min-height: 500px;
  padding: 60px 0;
}

.onelab h1 {
  font-size: 46px;
  font-weight: bold;
  line-height: 40px;
  color: #38a7c8;
}

.onelab h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  color: #38a7c8;
}
.onelab h3 {
  font-size: 26px;
  font-weight: bold;
  line-height: 40px;
  color: #38a7c8;
}

.ant-col ant-col-12 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.onelab-intro {
  padding: 50px 0px;
}

.intro-title {
  width: 400px;
}

.onelab-img {
  width: 80%;
}

.how-it-works {
  margin: auto;
  padding-top: 140px;
}
.how-it-works-robotic {
  margin: auto;
  padding: 120px 0;
}
.robotic-title {
  padding-bottom: 40px;
}

.how-it-works-container {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  border-radius: 8px;
  padding: 50px 60px !important;
  min-height: 340px;
}
.how-it-works-img {
  width: 450px;
  position: absolute;
  transform: scaleX(-1);
  right: 0px;
  top: 635px;
}

.work-station {
  padding: 50px 0px;
}

.contact-onelab {
  min-height: 500px;
  padding: 50px 0;
}

.contact-onelab-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-btn-contact {
  border-radius: 8px !important;
  width: 142px !important;
  height: 45px !important;
  background: #fce34b !important;
  background: linear-gradient(180deg, #fce34b, #eac101) !important;
  color: #1b262c !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  border: none !important;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.1));
  position: relative;
  transition: 0.3s;
}

.uses {
  height: 700px;
  background-color: #f1f2f6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.users-container {
  padding: 50px 0px;
  margin: auto;
  justify-content: center;
  text-align: center;
}
.uses h2 {
  text-align: center;
}

.uses-bottom {
  padding-top: 70px;
}
.uses-bottom h3 {
  padding-top: 20px;
}

.robotic h1 {
  font-size: 46px;
  font-weight: bold;
  line-height: 50px;
  color: #38a7c8;
}

.robotic h2 {
  font-size: 36px;
  font-weight: bold;
  line-height: 40px;
  color: #38a7c8;
}
.robotic h3 {
  font-size: 26px;
  font-weight: bold;
  line-height: 40px;
  color: #38a7c8;
}

.robotic h4 {
  font-size: 26px;
}
.robotic-intro {
  padding: 80px 0;
}
.program {
  justify-content: center;
  padding-top: 50px;
}
.why-robotic-img {
  width: 600px;
}

.program-container {
  height: 400px;
  width: 100%;
  border-radius: 5px;
  background-image: url("https://www.bostondynamics.com//sites/default/files/2021-02/cta-spot.jpg");
  padding-top: 100px;
  padding-left: 180px;
}
.program-container-2 {
  height: 400px;
  width: 100%;
  border-radius: 5px;
  background-image: url("https://www.bostondynamics.com/sites/default/files/2021-03/stretch-eap_2.png");
  padding-top: 100px;
  padding-left: 180px;
}

.ant-btn-program-button {
  border-radius: 8px !important;
  width: 142px !important;
  height: 45px !important;
  background: #fce34b !important;
  background: linear-gradient(180deg, #fce34b, #eac101) !important;
  color: #1b262c !important;
  font-weight: 600 !important;
  font-size: 15px !important;
  border: none !important;
  filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.1));
  position: relative;
  transition: 0.3s;
}

.robot-type {
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 120px 0;
}

.container-robot-items {
  background-color: #f1f2f6;
  border-radius: 8px;
  padding: 30px 20px;
}

.ideas {
  padding: 90px 0;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.onelap-details {
  margin-top: 20%;
}
.onelap-pictures {
  width: 450px;
}
.who-onelab-img {
  width: 70%;
}
.contact-container-details {
  margin-top: 12%;
}
.idea-contaner {
  margin-top: 60px;
}
.how-robotic-works-img {
  position: absolute;
  width: 250px;
  transform: scaleX(-1);
  left: -167px;
  top: 0px;
}
.how-robotic-works-img2 {
  position: absolute;
  width: 250px;
  top: 0px;
  right: -167px;
}
.robotic-program-desc {
  color: var(--fourth-color);
}
.mobile-view-navbar {
  display: none;
}
.mobileMenu {
  display: none;
}
.koompi-logo-mobile {
  display: none;
}
.why-desktop {
  display: block;
}
.why-mobile {
  display: none;
}
.legals-background {
  background-color: #f5f5f5;
  margin: 50px 0px;
  padding: 50px 100px;
  border-radius: 8px;
  font-size: 18px !important;
  word-wrap: break-word;
}

.card-news {
  height: 100%;
  border: 1px solid;
  background-color: #f5f5f5;
  position: relative;
  transition: 0.3s;
}

/* ------------------responsive ------------------------- */

@media only screen and (max-width: 1600px) {
  .banner-title h1 {
    font-size: 35px !important;
  }
  .banner-desc {
    font-size: 20px !important;
  }
  .koompi-logo {
    height: 40px;
  }
  .ant-menu-item {
    font-size: 15px;
  }
  .project-head-title,
  .recentnews-header h1,
  .koompi-os h2,
  .sala h2,
  .fifi h2,
  .onelab h2,
  .robotic h2 {
    font-size: 30px;
  }
  .project-desc {
    font-size: 18px;
  }
  .news-event-title,
  .card-subtitle,
  .project-detail-container,
  .sub-header-footer,
  .footer-desc {
    font-size: 12px;
  }
  .blog-desc {
    font-size: 11px;
  }
  .card-title {
    font-size: 20px;
  }
  .logo-footer {
    width: 140px;
  }
  .footer-head-info {
    font-size: 18px;
  }
  .koompi-logo-footer {
    width: 20px;
  }
  .project-logo {
    height: 40px;
  }
  .contact-us-img {
    width: 450px;
  }
  .koompi-os h1,
  .sala h1,
  .fifi h1,
  .onelab h1,
  .robotic h1 {
    font-size: 40px;
  }
  .banner-desc2 {
    font-size: 18px !important;
  }
  .os-banner-section p {
    font-size: 12px;
  }
  .btn-download {
    margin: 0;
  }
  .koompi-os-details {
    margin-top: 20%;
  }
  .why-join-sala {
    width: 20%;
    padding: 10px 15px;
    font-size: 12px;
  }
  .why-join-salakoompi {
    position: relative;
    top: 100px;
  }
  .banner-desc2 {
    width: 100%;
  }
  .legals-background {
    padding: 50px;
  }
}

@media only screen and (max-width: 1200px) {
  .home-banner {
    height: 40vh;
  }
  .banner-title h1,
  .koompi-os h1,
  .sala h1,
  .fifi h1,
  .onelab h1,
  .robotic h1 {
    font-size: 30px !important;
  }
  .container {
    width: 75% !important;
  }
  .contact-us-img {
    width: 350px;
  }
  .project-head-title,
  .recentnews-header h1 {
    font-size: 25px;
  }
  .koompi-os-intro {
    min-height: auto;
    padding: 10px 0px 100px 0px;
  }
  .koompi-os-details {
    margin: 0;
  }
  .koompi-os h3,
  .onelab h3 {
    font-size: 22px;
  }
  .image-koompi {
    width: 55%;
    height: auto;
  }
  .sala-koompi-details {
    margin-top: 15%;
  }
  .why-join-sala {
    width: 25%;
  }
  .map {
    height: 300px;
  }
  .how-it-works-img {
    width: 250px;
    position: absolute;
    right: -15px;
  }
  .how-robotic-works-img {
    position: absolute;
    width: 150px;
    transform: scaleX(-1);
    left: -95px;
  }
  .how-robotic-works-img2 {
    position: absolute;
    width: 150px;
    right: -95px;
  }
}

@media only screen and (max-width: 834px) {
  .banner-title h1 {
    font-size: 25px !important;
  }
  .project-head-title,
  .recentnews-header h1,
  .fifi h2,
  .koompi-os h2,
  .robotic h2 {
    font-size: 22px;
  }

  .os-banner-img {
    position: relative;
    top: 30px;
  }
  .project-desc,
  .card-description,
  .recentnews-header p,
  .contact-us-section p,
  .sala-purpose-subtitle,
  .fifi p,
  .card-title,
  .goal-container p,
  .intro-description,
  .how-it-works-container p,
  .goals-detial,
  .onelap-details p {
    font-size: 16px !important;
  }
  .koompi-os h3,
  .robotic h3 {
    font-size: 18px;
  }
  .why-join-sala {
    width: 30%;
  }
  .why-join-salakoompi {
    position: relative;
    top: 200px;
  }
  .why-join-salakoompi2 {
    position: relative;
    top: 100px;
  }
  .project-head-title,
  .recentnews-header h1,
  .koompi-os h2,
  .sala h2,
  .onelab h2 {
    font-size: 22px;
  }
  .sala-white-back,
  .sala-gray-back {
    padding: 25px 0;
  }
  .banner-desc2 {
    width: auto;
  }
  .fifi-img {
    height: 300px;
  }
  .how-it-works-img {
    width: 150px;
    position: absolute;
    top: 720px;
  }
  .how-it-works-container {
    padding: 20px 30px !important;
    min-height: 230px;
  }
  .how-robotic-works-img {
    position: absolute;
    width: 100px;
    transform: scaleX(-1);
    left: -60px;
  }
  .how-robotic-works-img2 {
    position: absolute;
    width: 100px;
    right: -60px;
  }
  .program-container,
  .program-container-2 {
    padding: 100px;
    height: auto;
  }
  .how-it-works-robotic {
    padding: 10px 0;
  }
  .why-robotic-img {
    width: 400px;
  }
}
@media only screen and (max-width: 812px) {
  .container {
    width: 85% !important;
  }
  .contact-us-img {
    width: 300px;
  }
  .how-robotic-works-img {
    position: absolute;
    width: 80px;
    transform: scaleX(-1);
    left: -45px;
  }
  .how-robotic-works-img2 {
    position: absolute;
    width: 80px;
    right: -45px;
  }
}
@media only screen and (max-width: 600px) {
  .why-robotic-img {
    width: 100%;
  }
  .ant-back-top {
    display: none;
  }
  .project-cards-mobile {
    display: block;
  }
  .project-cards {
    display: none;
  }
  .banner-contents {
    width: 90%;
  }
  .banner-title h1 {
    font-size: 18px !important;
  }
  .banner-desc {
    font-size: 16px !important;
  }
  .project-desc {
    width: 100%;
  }
  .mobile-view-navbar {
    display: block;
  }
  .header-desktop {
    display: none;
  }
  .menuNavbarLogo {
    background: #1b262c !important;
    margin-top: 0px !important;
    height: 64px !important;
  }
  .mobileMenu {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 15px !important;
    display: block;
  }
  .koompi-logo-mobile {
    display: block;
    width: 40px;
    position: relative;
    top: 12px !important;
  }
  .sub-menu-mobile-drawer {
    background: white !important;
  }
  .ant-drawer-body {
    padding: 0px !important;
  }
  .koompi-logo-mobile-drawer {
    height: 40px;
    position: relative;
    top: 6px !important;
    left: 12%;
  }
  .ant-layout-header {
    height: 64px !important;
  }
  .ant-menu-vertical > .ant-menu-item,
  .ant-menu-vertical-left > .ant-menu-item,
  .ant-menu-vertical-right > .ant-menu-item,
  .ant-menu-inline > .ant-menu-item,
  .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title,
  .ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title,
  .ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title,
  .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
    padding: 5px 0px 5px 30px !important;
  }
  .project-learn-more {
    position: relative;
    top: -15px !important;
    padding: 10px 15px !important;
  }
  .btn-contact {
    position: relative;
    left: 25% !important;
  }
  .intro-title {
    margin-top: 15px;
  }
  .koompi-os h1 {
    font-size: 25px !important;
    position: relative;
    left: -25px;
  }
  .koompi-os-details {
    justify-content: center;
    text-align: center;
  }
  .koompi-os h2 {
    font-size: 18px;
  }
  .os-section-height {
    padding: 150px 0px;
  }
  .banner-title h1,
  .koompi-os h1,
  .sala h1,
  .fifi h1,
  .onelab h1,
  .robotic h1 {
    font-size: 25px !important;
  }
  .sala-koompi-details {
    text-align: center;
  }
  .why-join-salakoompi,
  .why-join-salakoompi2 {
    position: relative;
    top: 0;
  }
  .sala-purpose-container {
    padding: 15px 0;
  }
  .why-join-sala {
    width: 40%;
  }
  .why-desktop {
    display: none;
  }
  .why-mobile {
    display: block;
  }
  .logo-footer {
    position: relative;
    left: -7px;
  }
  .sala-koompi-user-details {
    text-align: center;
  }
  .map {
    height: 150px;
  }
  .koompi-fifi-pic {
    width: 100%;
    position: relative;
    top: 30%;
  }
  .how-it-works-container {
    padding: 20px 30px !important;
  }
  .onelabe-img {
    position: relative;
    top: 30%;
  }
  .how-robotic-works-img,
  .how-robotic-works-img2 {
    display: none;
  }
  .program-container,
  .program-container-2 {
    padding: 60px;
    height: auto;
  }
  .legals-background {
    padding: 25px;
  }
}
